.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: burlywood;
}

#noteItem {
  display: flex;
  flex-direction: row;
  max-width: 24vw;
  min-width: 15vw;
  align-items: center;
  justify-content: space-evenly;
  background-color: beige;
  margin: 7px;
  padding: 10px;
  border-radius: 5px;
}
